.product-thumb {
  display: flex;
  img {
    margin-right: 12px;
    border: 1px solid #999999;
    border-radius: 6px;
    width: 100px;
    height: 100px;
  }
  span.span-text {
    display: block;
    margin-top: 10px;
  }
}
